.section-accent .form-input{
	color: #fff;
}
.feedback .feedback-content{
	display: flex;
	justify-content: space-between;
	.feedback-form{
		padding-top: 30px;
	}
}
.feedback .feedback-content__text{
	width: 50%;
	max-width: 609px;
}