.section-accent .form-input{
	color: #fff;
}
.feedback .feedback-content{
	display: flex;
	justify-content: space-between;
	.feedback-form{
		padding-top: 30px;
	}
	@media (max-width: 1199px) {
		display: block;
	}
}
.feedback .feedback-content__text{
	.h10{font-weight: 400;}
	width: 50%;
	max-width: 609px;
	@media (max-width: 1199px) {
		width: 100%;
	}
}