.logo{
	img{
		height: 30px;
		width: 298px;
		// width: auto;
		object-fit: contain;
	}
}
.header-top{
	padding-top: 34px;
	padding-bottom: 34px;
	border-bottom: 1px solid $sec2;
	@media(max-width: 1364px){
		.logo img{
			width: 240px;
		}
	}
	@media(max-width: 1199px){
		.logo img{
			width: 160px;
		}
	}
	@media (max-width: 1023px) {
		padding-top: 16px;
		padding-bottom: 16px;
	}
	
}
.header-top__content{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-menu nav{
	display: flex;
	align-items: center;
	column-gap: 30px;
	a{
		color: $pr;
	}
	a.active{color: $ac1;}
	a:hover{color: $ac2;}
	@media(max-width: 1364px){column-gap: 20px;}
	
}
.header-menu{
@media(max-width: 1023px){
		position: fixed;
		top:0;
		left: 0;
		bottom: 0;
		background-color: #fff;
		padding-top: 70px;
		width: 312px;
		align-items: flex-start;
		transform:translateX(-100%);
		transition: .3s;
		nav{
			flex-direction: column;
			overflow: hidden;
			overflow-y: auto;
			height: calc(100vh - 80px);
			a:first-child{
				border-top: 1px solid $sec2;
			}
		}
		&.active{
			transform:translateX(0);
		}
		a{
			border-bottom: 1px solid $sec2;
			padding: 24px 20px;
			width: 100%;
		}
	}
}
.header-contacts{
	gap:30px;
	a{color: $pr; transition: .3s;}
	a:hover{
		color: $ac1;
	}
	@media(max-width: 1699px){
		.icon-elem .text-bold{
			display: none;
		}
	}
	@media(max-width: 1364px){gap: 20px;}
	@media(max-width: 1199px){gap: 10px;}
	@media(max-width: 1023px){
		gap: 20px;
		.icon-elem .text-bold{
			display: block;
		}
	}
	@media(max-width: 767px){
		.icon-elem .text-bold{
			display: none;
		}
	}
}