.main-service{
	padding-top: 240px;
	margin-top: -220px;
	@media (max-width: 1199px) {
		padding-top: 80px;
		margin-top: -80px;
	}
}
.main-service-content{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	@media (max-width: 1199px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 767px) {
		grid-template-columns: repeat(1, 1fr);
	}
}
.main-service-wrapper{
	position: relative;
	
}

.main-service-content .main-service-card{
	padding-top: 27px;
	padding-bottom: 60px;
	padding-left: 30px;
	padding-right: 30px;
	border: 1px solid $sec2;
	min-height: 190px;
	@media(min-width:1200px){
		&:hover{
			.main-service-description{
				display: block;
				animation-name: opacity;
				animation-duration: .3s;
				animation-fill-mode: forwards;
				animation-timing-function: ease-in;
			}
		}
	}
	// position: relative;
	.circle-icon{
		cursor:pointer;
		flex-shrink: 0;
		position: relative;
		top:-48px;
		@media(max-width:1919px){
			top:-30px;
		}
		@media (max-width: 1199px) {
			top:auto;
		}
	}
	@media(max-width:1919px){
		padding:10px 20px 50px 20px;
		min-height: 170px;
	}
	@media (max-width: 1199px) {
		// flex-direction: row;
		padding-top: 30px;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 10px;
		min-height: 108px;
		position: relative;
		
		.text-16{
			font-size: 14px;
		}
	}
}
.main-service-card__title{
	display: flex;
	flex-direction: column;
	cursor:pointer;
	@media (max-width: 1199px){
		flex-direction: row;
		column-gap:20px;
		align-items: center;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
.main-service-description{
	position: absolute;
	left: 0;
	bottom: -30px;
	right: 0;
	background-color: #fff;
	z-index: 2;
	border: 1px solid #F5F7F8;
	box-shadow: 0px 4px 20px rgba(83, 83, 90, 0.06);
	padding: 30px;
	padding-bottom: 20px;
	min-height: 334px;
	display: none;
	
	opacity: 0;
	animation-name: opacity;
				animation-duration: .3s;
				animation-fill-mode: forwards;
				animation-timing-function: ease-in;
	@media (max-width: 1199px) {
		bottom:0;
		transform:translateY(100%);
		right:0;
		left: 0;
		box-shadow: none;
		padding: 0;
		padding-top: 30px;
		border: none;
		border: 1px solid $sec2;
		
		height: auto;
		display: none;
		
	}
	
	@media (max-width: 767px) {
		position: relative;
		
		border: none;
		border-top: 1px solid $sec2;
		bottom: auto;
		right: auto;
		left: auto;
		
		transform:translateY(0);
		
	}
}
.customDrop.active{
	.customDrop__list{
		display: block;
		opacity: 1;
	}
}
.main-service-description{
	.h14{
		margin-bottom: 20px;
		@media (max-width: 1199px) {
			padding-left: 20px;
			padding-right: 20px;
			display: none;
			margin-bottom: 0;
		}
	}
}
.main-service__list{
	
	column-gap:40px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	min-height: 240px;
	position: relative;
	.icon-close{
		position: absolute;
		top: -40px;
		right: 20px;
		cursor:pointer;
	}
	a{
		margin-bottom: 10px;
		font-size: 14px;
		color: $pr;
		transition: .3s;
		position: relative;
		&:hover{
			color: $ac1;
			text-decoration: underline;
			
		}
	}
	
	@media (max-width: 1199px) {
		height: auto;
		grid-template-columns: 1fr;
		padding-left: 20px;
		padding-right: 20px;
		a{
			max-width:unset ;
			margin-bottom: 20px;
			
		}
		
	}

}