.our-projects-card{
	border: 1px solid $sec1;
	.our-projects-card__text{
		border-top: 1px solid $sec1;
		padding: 40px 30px;
		@media (max-width: 1199px) {
			padding: 20px;
		}
	}
}
.our-projects-wrapper{
	@media (max-width: 767px) {
			padding-bottom: 80px;
		}
}
.our-projects{
	position: relative;
	&:after{
		content: '';
		height: 4px;
		background-color: $ac1;
		position: absolute;
		left: 0;
		right: 0;
		top: 64%;
		@media (max-width: 767px) {
			top: 57%;
		}		
	}
}