.section-title.fl-box{
	justify-content: space-between;
	@media(max-width:767px){
		flex-direction: column;
		align-items:flex-start;
		row-gap:40px;
		justify-content: flex-start;

	}
}
.price-factors-item{
	display: grid;
	grid-template-columns: 48px 1fr;
	column-gap:16px;
	align-items: center;
	object{
		width: 48px;
	}
	@media(max-width:1599px){
		display: flex;
		flex-direction: column;
		align-items:center;
		
		width: 100%;
		align-items: center;
	object{
			height: 48px;
			width: auto;
			margin-bottom: 14px;
		}
		p{text-align: center;}
		
	}
	@media(max-width:1023px){
		width: 100%;
		grid-template-columns: 48px 1fr;
		display: grid;
		object{
			width: 48px;
			height: auto;
			margin-bottom: 0;
		}
		p{text-align: left;}
	}
	@media(max-width:767px){
		grid-template-columns: 39px 1fr;
		column-gap:14px;
		max-width: 320px;
		object{
			width: 38px;
		}
	}
}
.price-factors-list .item-wraper{
	display: flex;
	@media(max-width:1599px){
		width: 20%;
	}
	@media(max-width:1023px){
		width: 50%;
	}
	@media(max-width:767px){
		width: 100%;
	}
}
@media(max-width:1599px){
	.price-factors-list .item-wraper-3{
		display: flex;
		justify-content: flex-end;
	}
}
@media(max-width:1023px){
	.price-factors-list .item-wraper-2, .price-factors-list .item-wraper-4{
		
		justify-content: flex-end;
	}
	.price-factors-list .item-wraper-3{
		display: flex;
		justify-content: flex-start;
	}
}
@media(max-width:767px){
	.price-factors-list .item-wraper-2, .price-factors-list .item-wraper-4{
		
		justify-content: flex-start;
	}
}
.price-factors-list{
	display: grid;
	grid-template-columns: 228px 270px 240px 271px 290px;
	column-gap:24px;
	@media(max-width: 1599px){
		display: flex;
	}
	@media(max-width:1023px){
		flex-wrap:wrap;
		// justify-content: center;
		row-gap: 40px;
		column-gap: 0;
	}
	@media(max-width:767px){
		display: grid;
		grid-template-columns: 1fr;
		row-gap:20px;
	}
}

.price-cards__item{
	background: #FFFFFF;
	border: 1px solid $sec2;
	padding: 30px 40px;
	display: flex;
	flex-direction: column;
	&>*{width: 100%;}
	@media (max-width: 1199px) {
		padding: 20px;		
	}
}
.price-cards{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 40px;
	grid-row-gap: 40px;
	
	@media (max-width: 1023px) {
		grid-row-gap: 20px;
	}
	@media (max-width: 767px) {
		grid-template-columns: 1fr ;
	}
}
.price-cards.price-cards-three{
	grid-template-columns: 1fr 1fr 1fr;
	@media (max-width: 1364px) {
		grid-template-columns: 1fr 1fr ;
	}
	@media (max-width: 767px) {
		grid-template-columns: 1fr ;
	}
}
.price-cards.price-cards-grid{
	display: grid;
	grid-template-columns: repeat(12, 1fr);

	@media (max-width: 1023px) {
		grid-template-columns: repeat(1, 1fr);
	}
	@media (max-width: 1023px) {
		.price-cards__item:nth-child(1){ grid-area: unset }
		.price-cards__item:nth-child(2)  { grid-area: unset }
		.price-cards__item:nth-child(3){ grid-area: unset }
		.price-cards__item:nth-child(4){ grid-area: unset }
		.price-cards__item:nth-child(5) { grid-area: unset }
	}
}

.price-card__title{
	padding-bottom: 14px;
	border-bottom: 1px solid $sec2;
	.h14{
		margin-bottom: 14px;
	}
}
.price-card__body{
	padding-top: 14px;
	
}
.price-card__footer{
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-top: 30px;
	margin-top: auto;
	.h7{white-space: nowrap;}
}
.price-cards.price-cards-grid{
	.price-cards__item:nth-child(1) { grid-area: 1 / 1 / 2 / 5; }
	.price-cards__item:nth-child(2) { grid-area: 1 / 5 / 2 / 9; }
	.price-cards__item:nth-child(3) { grid-area: 1 / 9 / 2 / 13; }
	.price-cards__item:nth-child(4) { grid-area: 2 / 1 / 3 / 7; }
	.price-cards__item:nth-child(5) { grid-area: 2 / 7 / 3 / 13; }

	@media (max-width: 1364px) {
	.price-cards__item:nth-child(1){ grid-area: 1 / 1 / 2 / 7; }
	.price-cards__item:nth-child(2)  { grid-area: 1 / 7 / 2 / 13; }
	.price-cards__item:nth-child(3){ grid-area: 2 / 1 / 3 / 7; }
	.price-cards__item:nth-child(4){ grid-area: 2 / 7 / 3 / 13; }
	.price-cards__item:nth-child(5) { grid-area: 3 / 4 / 4 / 10; }
	}
	@media (max-width: 991px) {
		.price-cards__item:nth-child(1){ grid-area: unset }
		.price-cards__item:nth-child(2)  { grid-area: unset }
		.price-cards__item:nth-child(3){ grid-area: unset }
		.price-cards__item:nth-child(4){ grid-area: unset }
		.price-cards__item:nth-child(5) { grid-area: unset }
	}
}