section.contacts.pb-100#contacts.section
	.container
		.flex-width-wrapper
			.section-title
				.h10.decor-line Контакты
				.h4 ООО "НАУЧНО-ПРОИЗВОДСТВЕННОЕ ПРЕДПРИЯТИЕ НЕФТЯНОГО МАШИНОСТРОЕНИЯ"
			.contacts-wrapper
				.contacts-block
					.h9 Адрес:
					p.body1 410012, Саратовская область, г. Саратов, ул. им. Зарубина В. С. , д. 132/138, кв. 4
				.contacts-block 
					.h9 Время работы:
					p.body1.text-upper Понедельник - Пятница с 9:00 до 18:00
				.contacts-block 
					.h9 Телефон:
					a(href="tel: +7 999 888 77 66").body1 +7 999 888 77 66
				.contacts-block
					.h9 Email:
					a(href="mailto: razrabotkaPPR@bitrix24.ru").body1 razrabotkaPPR@bitrix24.ru