footer.footer
	.container-large
		.footer-top
			.footer-logo
				a(href="#!").logo
					img(src="./img/logo.png"  alt="logo")
			.footer-menu
				+header-menu([
					{link:'#!', addCl:'active', name: 'О компании'}, 
					{link:'#!', addCl:'', name: 'Услуги' }, 
					{link:'#!', addCl:'', name: 'Выполненные работы'}, 
					{link:'#!', addCl:'', name: 'Отзывы' },
					{link:'#!', addCl:'', name: 'Сертификаты' },
					{link:'#!', addCl:'', name: 'Контакты' },
					])
			.footer-contacts
				.block-contacts.fl-y-center
					.icon-elem
						.text-bold.text-16
							a(href="mailto: razrabotkaPPR@bitrix24.ru") razrabotkaPPR@bitrix24.ru
						
						a(href="mailto: razrabotkaPPR@bitrix24.ru").circle-icon
							img(src="./img/mail.png", width="18" alt="icon")
					
					.icon-elem
						.text-bold.text-16.fl-col
							a(href="tel:+7 999 888 77 66") +7 999 888 77 66
						
						a(href="tel:+7 999 888 77 66").circle-icon
							img(src="./img/call.png", width="18" alt="icon")

		.footer-copyright