.header-banner.header-banner--main
	.container
		.header-banner-content
			.header-banner__title
				h1.h1.decor-line Разработка проектов организации строительных и монтажных работ
				.h8 Оптимизируйте свою работу, заказав 100% качественный проект производства работ
			.header-banner__img
				object(id="header-svg" type="image/svg+xml" data="./img/image.svg")
				
