.header-top
	.container-large
		.header-top__content
			.menu-toggle.icon-elem
				span
			.header-logo
				a(href="index.html").logo
					img(src="./img/logo.png"  alt="logo")
			.header-menu#header-menu
				+header-menu([
					{link:'#about', addCl:'', name: 'О компании'}, 
					{link:'#service', addCl:'', name: 'Услуги' }, 
					{link:'#projects', addCl:'', name: 'Выполненные работы'}, 
					{link:'#review', addCl:'', name: 'Отзывы' },
					{link:'#sertificate', addCl:'', name: 'Сертификаты' },
					{link:'#contacts', addCl:'', name: 'Контакты' },
					])
			.header-contacts
				.block-contacts.fl-y-center
					.icon-elem
						.text-bold.text-16
							a(href="mailto: razrabotkaPPR@bitrix24.ru") razrabotkaPPR@bitrix24.ru
						
						a(href="mailto: razrabotkaPPR@bitrix24.ru").circle-icon
							svg.svg-mail
								use(href="./img/svg-sprite.svg#svg-mail")
					
					//======== телефон для экранов от 1200
					.flex-none-1200
						a(href="#!" frame-btn="modal-form").icon-elem
							.text-bold.text-16.fl-col
								span +7 999 888 77 66
							
							.circle-icon
								svg.svg-call
									use(href="./img/svg-sprite.svg#svg-call")
										.d-none.d-1200-flex
					//========телефон для экранов от 360 до 1199
					.flex-block-1199
						a(href="tel: +79998887766" ).icon-elem
							.text-bold.text-16.fl-col
								span +7 999 888 77 66
							
							.circle-icon
								svg.svg-call
									use(href="./img/svg-sprite.svg#svg-call")
