section.review#review.section
	.container
		.section-title
			.h10 Отзывы
		.carousel-wrapper
			.our-review-carousel.owl-carousel
				.review-card
					a(href="./img/rev11.jpg" data-fancybox="our-review")
						img(src="./img/rev11.jpg", alt="img")
				.review-card
					a(href="./img/rev22.jpg" data-fancybox="our-review")
						img(src="./img/rev22.jpg", alt="img")
				.review-card
					a(href="./img/rev33.jpg" data-fancybox="our-review")
						img(src="./img/rev33.jpg", alt="img")
				.review-card
					a(href="./img/rev44.jpg" data-fancybox="our-review")
						img(src="./img/rev44.jpg", alt="img")
				.review-card
					a(href="./img/rev11.jpg" data-fancybox="our-review")
						img(src="./img/rev11.jpg", alt="img")
				.review-card
					a(href="./img/rev22.jpg" data-fancybox="our-review")
						img(src="./img/rev22.jpg", alt="img")
				.review-card
					a(href="./img/rev33.jpg" data-fancybox="our-review")
						img(src="./img/rev33.jpg", alt="img")
				.review-card
					a(href="./img/rev44.jpg" data-fancybox="our-review")
						img(src="./img/rev44.jpg", alt="img")