section.main-about.pt-180
	.main-about__img
		img(src="./img/bg.jpg", alt="img")
	.container
		.container-560
			.section-title
				.h10.decor-line о компании
				.h4 Разработка ППР
			.text-wrapper.body1
				p Наша компания занимается комплексным обслуживанием строительных фирм и оказывает полный спектр услуг удалённого отдела ПТО. Наши специалисты способны заменить собой отдел ПТО строительной компании и взять на себя весь документооборот.
				p Мы оказываем услуги в следующих направлениях:
				ul
					li разработка проектной документации (ПОС; ПОД, КМ, КМД);
					li разработка разрешительной документации (ППР, ППРк, ППРв, ТК, схемы ОДД и т.д.);
					li разработка исполнительной документации;
					li разработка программного обеспечения для автоматизированного проектирования.
				p На данный момент мы разработали более 500 проектов различной сложности и направленности. В своей работе мы учитываем особые условия производства работ на различных объектах, требования отраслевых регламентов крупных государственных структур и предприятий. Мы способны качественно и в срок выполнить поставленную перед нами задачу любой сложности.
