//==========Услуги ========
.main-service
	.container
		.main-service-wrapper
			.main-service-content
				//=====одна услуга =========
				.main-service-card(data-serv)
					.circle-icon
						.icon-full
					.text-16 Разработка проектов организации строительства (ПОС)
					
					//=======ссылки для одной услуги =======
					.main-service-description(data-desk)
						.h14 Разработка проектов организации строительства 555 (ПОС)
						.main-service__list
							.icon-close
							a(href="#!") Разработка ППРк
							a(href="#!") Разработка ППРв
							a(href="#!") Разработка СГП
							a(href="#!") Разработка ТС
							a(href="#!") ППР на строительство зданий
							a(href="#!") ППР на капитальный ремонт зданий и сооружений
							a(href="#!") ППР на реконструкцию зданий
							a(href="#!") ППР на подготовительный период
							a(href="#!") ППР на демонтаж зданий и сооружений
							a(href="#!") ППР на демонтаж металлоконструкций
							a(href="#!") ППР на демонтаж крана
							a(href="#!") Геодезический ППР
							a(href="#!") ППР на земляные работы
							a(href="#!") ППР на разработку грунта котлована
							a(href="#!") ППР на монтаж мостовых и башенных кранов
							a(href="#!") ППР на устройство фундаментов
							a(href="#!") ППР на бетонные работы
							a(href="#!") ППР на монтаж конструкций из сборного ЖБ
							a(href="#!") ППР на свайные работы
							a(href="#!") ППР на гидроизоляционные работы
							a(href="#!") ППР на монтаж металлоконструкций
							a(href="#!") ППР на отделочные, ремонтные и реставрационные работы
				
				+servCard
				+servCard
				+servCard
				+servCard
			
			//- .main-service-description
			//- 	.h14 Разработка проектов организации строительства (ПОС)
			//- 	.main-service__list
			//- 		a(href="#!") Разработка ППРк
			//- 		a(href="#!") Разработка ППРв
			//- 		a(href="#!") Разработка СГП
			//- 		a(href="#!") Разработка ТС
			//- 		a(href="#!") ППР на строительство зданий
			//- 		a(href="#!") ППР на капитальный ремонт зданий и сооружений
			//- 		a(href="#!") ППР на реконструкцию зданий
			//- 		a(href="#!") ППР на подготовительный период
			//- 		a(href="#!") ППР на демонтаж зданий и сооружений
			//- 		a(href="#!") ППР на демонтаж металлоконструкций
			//- 		a(href="#!") ППР на демонтаж крана
			//- 		a(href="#!") Геодезический ППР
			//- 		a(href="#!") ППР на земляные работы
			//- 		a(href="#!") ППР на разработку грунта котлована
			//- 		a(href="#!") ППР на монтаж мостовых и башенных кранов
			//- 		a(href="#!") ППР на устройство фундаментов
			//- 		a(href="#!") ППР на бетонные работы
			//- 		a(href="#!") ППР на монтаж конструкций из сборного ЖБ
			//- 		a(href="#!") ППР на свайные работы
			//- 		a(href="#!") ППР на гидроизоляционные работы
			//- 		a(href="#!") ППР на монтаж металлоконструкций
			//- 		a(href="#!") ППР на отделочные, ремонтные и реставрационные работы

