section.review.section#review
	.container
		.section-title
			.h10 Отзывы
		.carousel-wrapper
			.our-review-carousel.owl-carousel
				.review-card
					a(href="./img/rev1.jpg" data-fancybox="our-review")
						img(src="./img/rev1.jpg", alt="img")
				.review-card
					a(href="./img/rev2.jpg" data-fancybox="our-review")
						img(src="./img/rev2.jpg", alt="img")
				.review-card
					a(href="./img/rev3.jpg" data-fancybox="our-review")
						img(src="./img/rev3.jpg", alt="img")
				.review-card
					a(href="./img/rev4.jpg" data-fancybox="our-review")
						img(src="./img/rev4.jpg", alt="img")
				.review-card
					a(href="./img/rev1.jpg" data-fancybox="our-review")
						img(src="./img/rev1.jpg", alt="img")
				.review-card
					a(href="./img/rev2.jpg" data-fancybox="our-review")
						img(src="./img/rev2.jpg", alt="img")
				.review-card
					a(href="./img/rev3.jpg" data-fancybox="our-review")
						img(src="./img/rev3.jpg", alt="img")
				.review-card
					a(href="./img/rev4.jpg" data-fancybox="our-review")
						img(src="./img/rev4.jpg", alt="img")