section.our-sertificate
	.section-gray.section#sertificate
		.container
			.section-title
				.h10 Сертификаты
			.carousel-wrapper
				.our-sertificate-carousel.owl-carousel
					.sertificate-card
						a(href="./img/s1.jpg" data-fancybox="our-sertif")
							img(src="./img/s1.jpg", alt="img")
					.sertificate-card
						a(href="./img/s2.jpg" data-fancybox="our-sertif")
							img(src="./img/s2.jpg", alt="img")
					.sertificate-card
						a(href="./img/s3.jpg" data-fancybox="our-sertif")
							img(src="./img/s3.jpg", alt="img")
					.sertificate-card
						a(href="./img/s4.jpg" data-fancybox="our-sertif")
							img(src="./img/s4.jpg", alt="img")
					.sertificate-card
						a(href="./img/s1.jpg" data-fancybox="our-sertif")
							img(src="./img/s1.jpg", alt="img")
					.sertificate-card
						a(href="./img/s2.jpg" data-fancybox="our-sertif")
							img(src="./img/s2.jpg", alt="img")
					.sertificate-card
						a(href="./img/s3.jpg" data-fancybox="our-sertif")
							img(src="./img/s3.jpg", alt="img")
					.sertificate-card
						a(href="./img/s4.jpg" data-fancybox="our-sertif")
							img(src="./img/s4.jpg", alt="img")