section.our-projects#projects.section
	.container
		.section-title
			.h10 Выполненные работы
		.carousel-wrapper
			.our-projects-carousel.owl-carousel
				.our-projects-card
					a(href="./img/slider1.png" data-fancybox="our-projects")
						img(src="./img/slider1.png", alt="img")

						.our-projects-card__text
							.h9 Ремонт резервуара вертикального стального V 1000 м3 для светлых нефтепродуктов (ООО НПП “Газэнергохим”)

				.our-projects-card
					a(href="./img/slider2.png" data-fancybox="our-projects")
						img(src="./img/slider2.png", alt="img")

						.our-projects-card__text
							.h9 Ремонт резервуара вертикального стального V 1000 м3 для светлых нефтепродуктов (ООО НПП “Газэнергохим”)
				.our-projects-card
					a(href="./img/slider1.png" data-fancybox="our-projects")
						img(src="./img/slider1.png", alt="img")

						.our-projects-card__text
							.h9 Ремонт резервуара вертикального стального V 1000 м3 для светлых нефтепродуктов (ООО НПП “Газэнергохим”)
				.our-projects-card
					a(href="./img/slider1.png" data-fancybox="our-projects")
						img(src="./img/slider1.png", alt="img")

						.our-projects-card__text
							.h9 Ремонт резервуара вертикального стального V 1000 м3 для светлых нефтепродуктов (ООО НПП “Газэнергохим”)