section.our-sertificate.anim-box
	.section-gray.section#sertificate
		.container
			.section-title
				.h10 Сертификаты
			.carousel-wrapper
				.our-sertificate-carousel.owl-carousel
					.sertificate-card
						a(href="./img/s11.jpg" data-fancybox="our-sertif")
							img(src="./img/s11.jpg", alt="img")
					.sertificate-card
						a(href="./img/s22.jpg" data-fancybox="our-sertif")
							img(src="./img/s22.jpg", alt="img")
					.sertificate-card
						a(href="./img/s33.jpg" data-fancybox="our-sertif")
							img(src="./img/s33.jpg", alt="img")
					.sertificate-card
						a(href="./img/s44.jpg" data-fancybox="our-sertif")
							img(src="./img/s44.jpg", alt="img")
					.sertificate-card
						a(href="./img/s11.jpg" data-fancybox="our-sertif")
							img(src="./img/s11.jpg", alt="img")
					.sertificate-card
						a(href="./img/s22.jpg" data-fancybox="our-sertif")
							img(src="./img/s22.jpg", alt="img")
					.sertificate-card
						a(href="./img/s33.jpg" data-fancybox="our-sertif")
							img(src="./img/s33.jpg", alt="img")
					.sertificate-card
						a(href="./img/s44.jpg" data-fancybox="our-sertif")
							img(src="./img/s44.jpg", alt="img")