.fl-box,.fl-col,.fl-center,.fl-y-center{
	display: flex;
}
.fl-col{
	flex-direction: column;
}
.fl-y-center{
	align-items: center;
}
.fl-center{
	align-items: center;
	justify-content: center;
}
.text-upper{
	text-transform: uppercase;
}
.text-bold{font-weight: 700;}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-center{text-align: center;}