.circle-icon{
	height: 38px;
	width: 38px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $ac2;
}
.icon-elem{
	display: flex;
	align-items: center;
	column-gap:10px;
	&>*{flex-shrink: 0;}
	.fl-col{
		row-gap:5px;
	}
}
.icon-full, .icon-close{
	width: 18px;
	height: 18px;
	background-image: url('../img/full.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.icon-close{
	width: 22px;
	height: 22px;
	background-image: url('../img/close-dark.png');
}
.svg-book{
	fill: #C6CADA;
	width: 18px;
	height: 18px;
}
.svg-arrow-right{
	width: 24px;
	height: 24px;
	fill: white;
	object-fit: contain;
}
.icon-plus{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border:2px solid $ac2;
	display: flex;
	justify-content: center;
	align-items: center;
}