.h1{
	font-size: 54px;
	font-weight: 700;
	line-height: 1.2;
	@media (max-width: 1364px) {
		font-size: 44px;
	}	
	@media (max-width: 1199px) {
		font-size: 38px;
	}
	@media (max-width: 1023px) {
		font-size: 32px;
	}
	@media (max-width: 767px) {
		font-size: 20px;
		line-height: 1.4;
	}
}
.h2, .h3, .h4, .h5, .h9,.h7, .b1, .b2, .b3, .b4{
	font-weight: 700;
}
.h6, .h8, .h10, .text-medium, .h14{font-weight: 600;}

.h2{
	font-size: 38px;
	
}
.h3{
	font-size: 36px;
}
.h4{
	font-size: 28px;
	@media (max-width: 767px) {
		font-size: 20px;
	}
}
.h5{
	font-size: 24px;
}
.h6{
	font-size: 22px;
}
.h7, .h8{
	font-size: 20px;
	@media (max-width: 767px) {
		font-size: 16px;
	}
}
.h6, .h8, .h10, .b1-s, .b2-s,.b3-s{font-weight: 600;}
.h9{
	font-size: 18px;
	@media (max-width: 1199px) {
		font-size: 14px;
	}
}
.h10{
	font-size: 16px;
	
}
.body1, .text-16{
	font-size: 16px;
	@media (max-width: 1364px) {
		font-size: 14px;
	}
}
.text-14, .h14{
	font-size: 14px;
	@media (max-width: 1023px) {
		font-size: 12px;
	}
}
.text-12{
	font-size: 12px;
}
.text-10{
	font-size: 10px;
}
.text-8{
	font-size: 8px;
}
.text-gray{
	color: $sec
}
.decor-line, .decor-line-top{
	position: relative;
	padding-bottom: 24px;
	&:after{
		content: '';
		position: absolute;
		height: 4px;
		width: 80px;
		background-color: $ac1;
		left: 0;
		bottom: 0;
	}
	@media (max-width: 767px) {
		padding-bottom: 18px;
	}
}
.decor-line-top{
	padding-top: 24px;
	padding-bottom: 0;
	&:after{
		
		bottom: auto;
		top:0;
	}
	@media (max-width: 767px) {
		padding-top: 18px;
		padding-bottom: 0;
	}
}
.text-wrapper{
	
	p+p, p + ul, ul + p, ul{
		margin-top: 1em;
	}
	ul{
		padding-left: 30px;
		list-style-type: disc;
		
	}
	
}