.h1{
	font-size: 54px;
	font-weight: 700;
	line-height: 1.2;
}
.h2, .h3, .h4, .h5, .h9, .b1, .b2, .b3, .b4{
	font-weight: 700;
}
.h6, .h8, .h10, .text-medium{font-weight: 600;}

.h2{
	font-size: 38px;
	
}
.h3{
	font-size: 36px;
}
.h4{
	font-size: 28px;
}
.h5{
	font-size: 24px;
}
.h6{
	font-size: 22px;
}
.h7, .h8{
	font-size: 20px;
}
.h6, .h8, .h10, .b1-s, .b2-s,.b3-s{font-weight: 600;}
.h9{
	font-size: 18px;
}
.h10{
	font-size: 16px;
}

.text-14{
	font-size: 14px;
}
.text-12{
	font-size: 12px;
}
.text-10{
	font-size: 10px;
}
.text-8{
	font-size: 8px;
}