$ac1: #2b9261;
$ac2: #45BB82;
$ac3: #2A77D2;
$ac4: #5A99E3;
$err: #B81D42;
$pr: rgb(39, 44, 51);
$pr1: #53535a;
$sec: #7C7C83;
$sec1: #C6CADA;
$sec2: #E2E4EA;
$sec3: #F5F7F8;
$ac1hover:  rgba(43, 146, 97, .4);