extends ../layouts/layout.pug

block content
	include ../sections/_header-top.pug
	include ../sections/_header.pug
	include ../sections/_header-banner-main.pug
	include ../sections/_main-service.pug
	include ../sections/_main-about.pug
	include ../sections/_our-projects.pug
	include ../sections/_main-review.pug
	include ../sections/_our-sertificate.pug
	include ../sections/_price.pug
	include ../sections/_feedback.pug
	include ../sections/_contacts.pug
	
	
	
block variables
	-var title = "Главная";
