extends ../layouts/layout.pug

block content
	include ../sections/_header-top.pug
	include ../sections/service-page/_header-banner-inner.pug
	
	include ../sections/service-page/_object-group
	include ../sections/service-page/_project-composition
	include ../sections/service-page/_requirement
	
	include ../sections/service-page/_inner-price.pug
	include ../sections/_our-projects.pug
	include ../sections/_feedback.pug
	include ../sections/_contacts.pug
	include ../sections/_footer.pug
	include ../sections/_modal
	
	
	
block variables
	-var title = "Услуги";