section.price-works
	.container
		.price-factors
			.section-title.fl-box
				.section-title__col
					.h10.decor-line Стоимость работ
					.h4 Факторы, влияющие на стоимость разработки проекта
				.section-title__col
					button.btn.btn--outline.btn--outline-gray
						svg.svg-book
							use(xlink:href="./img/svg-sprite.svg#svg-book")
						span Подробнее о факторах
			
			.price-factors-list
				.item-wraper
					.price-factors-item
						object(id="factor1" type="image/svg+xml" data="./img/factor1.svg")
						p.body1 Полнота&nbsp;и&nbsp;качество исходных данных
				.item-wraper
					.price-factors-item
						object(id="factor2" type="image/svg+xml" data="./img/factor2.svg")
						p.body1 Количество видов выполняемых операций
				.item-wraper
					.price-factors-item
						object(id="factor3" type="image/svg+xml" data="./img/factor3.svg")
						p.body1 Сложность трудовых процессов
				.item-wraper
					.price-factors-item
						object(id="factor4" type="image/svg+xml" data="./img/factor4.svg")
						p.body1 Срочность изготовления&nbsp;документа
				.item-wraper
					.price-factors-item
						object(id="factor5" type="image/svg+xml" data="./img/factor5.svg")
						p.body1 Тип объекта (гражданский /  промышленный)
		
	.price-works-cards.pt-100
		.container
			.section-title
				.h4.decor-line-top Стоимость разработки проекта
			.price-cards
				//===== card 1 ========
				.price-cards__item
					.price-card__title
						.h14 Стандартный
						.text-12.text-gray От 2х дней
					
					.price-card__body
						.text-14.text-gray
							p Состав проекта:
							ul
								li Пояснительная записка (ПЗ) по СП 48.13330.2019;
								li Графики работ - 2 шт.;
								li Строительный генеральный план (чертеж AutoCAD);
								li Графические схемы работ (чертежи Автокад) - от 2 листов.
					.price-card__footer
						.h7 от 70 000 ₽
						button.btn.btn--outline.btn-38(frame-btn="modal-form")
							span Заказать
							svg.svg-plus
								use(xlink:href="./img/svg-sprite.svg#svg-plus")
				
				//===== card 2 ========
				.price-cards__item
					.price-card__title
						.title-14 Детализированный
						.text-12.text-gray Формат PDF
					
					.price-card__body
						.text-14.text-gray
							p Состав проекта:
							ul
								li Пояснительная записка (ПЗ) по СП 48.13330.2019;
								li Графики работ - 2 шт.;
								li Строительный генеральный план (чертеж AutoCAD);
								li Графические схемы работ (чертежи Автокад) - от 2 листов.
					.price-card__footer
						.h7 от 100 000 ₽
						button.btn.btn--outline.btn-38(frame-btn="modal-form")
							span Заказать
							svg.svg-plus
								use(xlink:href="./img/svg-sprite.svg#svg-plus")
