section.description-block.pt-100.anim-box
	.container
		.description-block-content
			.container-720
				.description-block-img
					img(src="./img/work.jpg",  width="720" alt="img")
			
			.container-560
				.section-title
					.h10.decor-line Группы объектов
					.h4 Все здания делятся на три основные группы:
				.text-wrapper.body1
					ul
						li Жилые дома;
						li Общественные;
						li Промышленные.
					p ППР данного типа разрабатывают как на весь объект целиком, так и на его отдельные части. Во втором случае необходимо подготовить несколько документов — по одному на каждый этап строительства.
					button.btn.btn--outline.btn-38(frame-btn="modal-form")
						span Оставить заявку
						svg.svg-check
							use(href="./img/svg-sprite.svg#svg-check")
			
			
