section.project-composition
	.project-composition-image
		img(src="./img/place.jpg", alt="alt")
	.project-composition-text.anim-box
		.section-title
			.h10.decor-line СОСТАВ ППР
			.h4 На строительство жилого здания
		.text-wrapper.body1
			p Разработка ППР должна производиться с учетом требований CП 54.13330.2016.
			p Документ можно условно разбить на несколько основных разделов:
			ol
				li Подготовительный период;
				li разработка разрешительной документации (ППР, ППРк, ППРв, ТК, схемы ОДД и т.д.);
				li Мероприятия нулевого цикла;
				li Возведение каркаса здания;
				li Устройство каменных и армокаменных конструкций;
				li Операции по устройству фасадов и кровли;
				li Отделочные работы;
				li Монтаж инженерных систем.
			p Для каждого из вышеперечисленных этапов строительства, в составе проекта разрабатывается своя отдельная отдельная технологическая карта.