section.description-block
	.container
		.description-block-content
			.container-560
				.section-title
					.h10.decor-line ТРЕБОВАНИЯ К ППР
					.h4 На возведение общественных зданий и сооружений
				.text-wrapper.body1
					p Проект на строительство общественного здания разрабатывают с учётом требований СП 118.13330.2012*. Строения общественного назначения имеют свои конструктивные особенности. В процессе их возведения необходимо смонтировать значительный объём металлических и светопрозрачных конструкций. Также, зачастую проектом предполагается установка большого количество грузопассажирских лифтов. В связи с этим, в состав ППР необходимо включить соответствующие разделы, в которых содержатся практические указания, позволяющие решать задачи поставленные перед сотрудниками подрядной организации. Общественные здания являются объектами повышенного внимания со стороны контролирующих органов.
					
					.btn.btn--outline.btn-38(frame-btn="modal-form")
						span Бесплатная консультация
						svg.svg-check
							use(xlink:href="./img/svg-sprite.svg#svg-check")
			
			.container-720
				.description-block-img
					img(src="./img/work2.jpg", width="720" alt="img")
			