.project-composition-image img{
	width: 100%;
	height: 560px;
	object-fit: cover;
	@media (max-width: 1023px) {
	  height: 364px;
	}
	@media (max-width: 767px) {
		height: 264px;
	}
}
.project-composition-text{
	padding: 100px 120px;
	background-color: #fff;
	border: 1px solid $sec2;
	margin-left: auto;
	margin-right: auto;
	width: 94%;
	max-width: 1160px; 
	margin-top: -143px;
	position: relative;
	@media (max-width: 1023px) {
	    padding: 60px 40px;
		margin-top: -60px;
	}
	@media (max-width: 767px) {
	    padding: 40px 20px;
		margin-top: -60px;
	}

	
}