include ../mixins/mixins.pug
block variables

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		
		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		meta(http-equiv="Content-Type" content="application/xhtml+xml") 
		//====шрифты ========
		link(rel="stylesheet", href="./fonts/fonts.css")
		
		//======== owl carousel ========
		link(rel="stylesheet", href="./libs/owlCarousel/owl.carousel.min.css")
		
		//=============== fancybox gallery ===================
		link(rel="stylesheet" href="./libs/fancybox/jquery.fancybox.min.css")
		
		//======== main css ========
		link(rel="stylesheet", href="./css/main.css")
		title !{title}
		
	body
		#overlay
		block content
		
		//===== кнопка прокрутка вверх на моб версиях =============
		.btn-up.btn-up_hide

		//=============== jquery ===================
		script(src="./libs/jquery/jquery-3.0.0.min.js")
		
		//=============== owlCarousel ===================
		script(src="./libs/owlCarousel/owl.carousel.min.js")
		
		//=============== fancybox gallery ===================
		script(src="./libs/fancybox/jquery.fancybox.min.js")
		script(src="./js/main.js")
		